[submodule "node_modules/mongodb-lite"]
	path = node_modules/mongodb-lite
	url = git://github.com/jankuca/mongodb-lite.git
[submodule "node_modules/eco"]
	path = node_modules/eco
	url = git://github.com/sstephenson/eco.git
[submodule "node_modules/coffee-script"]
	path = node_modules/coffee-script
	url = git://github.com/jashkenas/coffee-script.git
[submodule "node_modules/strscan"]
	path = node_modules/strscan
	url = git://github.com/sstephenson/strscan-js.git
